.container {
    max-width: 800px;
    margin: 20px auto;
    
    padding: 20px;
    text-align: center;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
  }

  footer{
    position: fixed;
    width: 100%;
  }
